body{
	background-color: #99ddff;
	font-family:arial, 'Hiragino Sans GB',Tahoma, Arial, Helvetica, STHeiti;
	font-size: 14px;
}

#outer-div{
	background-color: #b3ffb3;
	position: absolute;
	top: 60px;
	left: 70px;
	height: 700px;
	width: 1300px;
	color: green;
	
}

#heading{
    position: relative;
	font-size: 2em;	
	top: -8px;
	color: purple;
}

h5{

	color:blue;
	position:absolute;
	top: 610px;
	left: 89px;
}

#heatmap{
	background-color: white;
	position: relative;
	height: 490px;
	width: 1180px;
	top: 5px;
	left: 60px;
}

#svg-calibrate{
	background-color: yellow;
	position: relative;
	top: 20px;
	left: 580px;

}

h2{
	color: purple;
	position: relative;
	top: -20px;
}

#firsth5{
	position: absolute;
	top: 56px;
	left: 370px;
}

#secondh5{
	position: absolute;
	top: 71px;
	left: 450px;
}

.calibration{
	height: 70px;
	width: 700px;
}

label{
	font-weight: bolder;
	margin-left: 21px;
	margin-right: 15px;
}

.description{
	position:relative;
	left: 585px;
	top: 25px;
}

.x path,
.x line {
   fill: none;
   stroke: black;
   stroke-width: 2px;
   shape-rendering: crispEdges;
}


.y line {
   fill: none;
   stroke: white;
   
}






